<td>
  <%= link_to user.email, user %>
</td>
<td>
  <%= form_for(user) do |f|%>
  <%= f.select(:role, User.roles.keys.map {|role| [role.titleize,role]}) %>
      <td>
        <button><%= f.submit 'Change Role'%></button>
      </td>
<% end%>
<td>
  <%= link_to("Delete user", user_path(user),method: :delete, class: "button", data: {confirm: "Are you sure"}) unless user == current_user %>
</td>
</td>